.increase{
    color: #11DA32 !important;;
  }
.decrease{
    color: red !important;
  }
body{
  margin :0;
  
}
.code{
  width: 8%;
  color: #119fe1
}
.company{
  width: 30%;
  color: #9e9e9e
}
.price{
  width: 20%;
}
.value{
  width: 14%;
}
